<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <h2 class="text-center">Timer</h2>
    <h1 id="timer" class="text-center">25:00</h1>
    <div class="expanded button-group">
      <button id="start" class="button success">Start</button>
      <button id="pause" class="button secondary">Pause</button>
      <button id="reset" class="button alert">Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <table id="stats">
    </table>
  </div>
</div>

<script id="stats-template" type="text/x-handlebars-template">
  <tr>
    <td>Collected pomodoros</td>
    <td>\{{pomodoros.collected}}</td>
  </tr>
  <tr>
    <td>Eaten pomodoros</td>
    <td>\{{pomodoros.eaten}}</td>
  </tr>
</script>