<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <h2 class="text-center">Timer</h2>
    <h1 id="timer" class="text-center">25:00</h1>
    <div class="expanded button-group">
      <button id="start" class="button success">Start</button>
      <button id="pause" class="button secondary">Pause</button>
      <button id="reset" class="button alert">Reset</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <table>
      <tr>
        <td>Finished</td>
        <td>0</td>
      </tr>
        
    </table>
  </div>
</div>