<!doctype html>
<html>
  <head>
    <title>PomoDEVro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script> -->
  </head>
  <body>
    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="pomodoro.js"></script>
  </body>
</html>